<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Dashboard{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- Custom CSS Block -->
  {% block head %}
  {% endblock %}
</head>

<body>

  {% include 'header.html' %} <!-- Include Header -->

  {% include 'sidebar.html' %} <!-- Include Sidebar -->

  <main id="main" class="main">
    {% block content %}{% endblock %}
  </main>

  {% include 'footer.html' %} <!-- Include Footer -->

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  <!-- Custom Script Block -->
  {% block scripts %}
  {% endblock %}
</body>

</html>